doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src='/socket.io/socket.io.js')
    script(src='/js/jQuery/jquery-1.11.0.min.js')
    script(src='/js/jQuery/jquery-migrate-1.2.1.min.js')
    script(src='/js/script.js')
  body
    block content
