!!!
%html
  %head
    %title
      Polling Chat
    %link(rel="stylesheet" href="css/style.css")
    %script(src="//code.jquery.com/jquery-1.11.0.min.js")
    %script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    %script(src="js/script.js")
  %body
    #container
      %form
        %input(type="text" name="comment" placeholder="今どんな気持ち？")
        %input(type="submit" value="つぶやく" id="send")
      #comments
