!!!
%html
  %head
    %title
      Polling Chat
    %link(rel="stylesheet" href="css/style.css")
    %script(src="js/jquery-1.11.0.min.js")
    %script(src="js/jquery-migrate-1.2.1.min.js")
    %script(src="js/ajax.js")
    %script(src="js/script.js")
  %body
    %div#chat
      %input(type="text" id="name" value="ななしさん")
      %input(type="text" id="comment" placeholder="今どんな気持ち？")
      %input(type="button" value="つぶやく" id="send")
    %div#comments
